@media only screen and (max-width: 768px) {
  #profile {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #profile img {
    width: 100%;
  }
  #about-text {
    padding-top: 4rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .preview img {
    opacity: .2;
  }
  #projects {
    padding-top: 4rem;
  }
  #resume {
    padding-top: 4rem;
    min-height: 100vh;
  }
  #contact {
    padding-top: 4rem;
  }
  .content {
    background-color: #ffffff;
  }
  #footer {
    margin-top: -9rem;
    line-height: 3rem;
  }
  #footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .my-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .my-row .preview {
    height: 0;
    width: 100%;
    padding-top: 53%;
    margin: 10px 0 10px 0;
  }
}

@media only screen and (min-width: 769px) {
  @-webkit-keyframes PROFILE {
    0% {
      opacity: 0;
      -webkit-transform: scale(1.15) translateX(50%);
              transform: scale(1.15) translateX(50%);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale(1.25) translateX(50%);
              transform: scale(1.25) translateX(50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1) translateX(0px);
              transform: scale(1) translateX(0px);
    }
  }
  @keyframes PROFILE {
    0% {
      opacity: 0;
      -webkit-transform: scale(1.15) translateX(50%);
              transform: scale(1.15) translateX(50%);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale(1.25) translateX(50%);
              transform: scale(1.25) translateX(50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1) translateX(0px);
              transform: scale(1) translateX(0px);
    }
  }
  @-webkit-keyframes ABOUT_TEXT {
    0% {
      top: -50rem;
    }
    70% {
      top: -50rem;
    }
    90% {
      top: 3rem;
    }
    100% {
      top: 0;
    }
  }
  @keyframes ABOUT_TEXT {
    0% {
      top: -50rem;
    }
    70% {
      top: -50rem;
    }
    90% {
      top: 3rem;
    }
    100% {
      top: 0;
    }
  }
  #about-shell {
    position: relative;
    z-index: 1;
    height: 100vh;
    background-color: white;
    margin-bottom: -10vh;
  }
  #about-shell #about {
    padding-top: 10vh;
  }
  #about-shell #profile {
    position: relative;
    display: block;
    width: auto;
    height: 70vh;
    -webkit-animation: PROFILE 3s;
            animation: PROFILE 3s;
  }
  #about-shell #profile img {
    max-height: 100%;
    max-width: 100%;
    display: block;
  }
  #about-shell #about-text {
    -webkit-animation: ABOUT_TEXT 3s;
            animation: ABOUT_TEXT 3s;
    position: relative;
    top: 0;
    width: 50%;
  }
  #about-shell .content {
    margin-top: 10vh;
  }
  @-webkit-keyframes ARROW_DOWN {
    0% {
      -webkit-clip-path: polygon(0 0, 40% 0, 50% 5%, 60% 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 40% 0, 50% 5%, 60% 0, 100% 0, 100% 100%, 0 100%);
    }
    30% {
      -webkit-clip-path: polygon(0 0, 40% 0, 50% 8%, 60% 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 40% 0, 50% 8%, 60% 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
      -webkit-clip-path: polygon(0 0, 40% 0, 50% 5%, 60% 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 40% 0, 50% 5%, 60% 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  @keyframes ARROW_DOWN {
    0% {
      -webkit-clip-path: polygon(0 0, 40% 0, 50% 5%, 60% 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 40% 0, 50% 5%, 60% 0, 100% 0, 100% 100%, 0 100%);
    }
    30% {
      -webkit-clip-path: polygon(0 0, 40% 0, 50% 8%, 60% 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 40% 0, 50% 8%, 60% 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
      -webkit-clip-path: polygon(0 0, 40% 0, 50% 5%, 60% 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 40% 0, 50% 5%, 60% 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  #projects-shell {
    position: relative;
    padding-top: 20vh;
    color: white;
    min-height: 130vh;
    background-color: #2c2c2c;
    z-index: 10;
    -webkit-animation: ARROW_DOWN 1s 5s 2;
            animation: ARROW_DOWN 1s 5s 2;
    -webkit-clip-path: polygon(0 0, 40% 0, 50% 5%, 60% 0, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 0, 40% 0, 50% 5%, 60% 0, 100% 0, 100% 90%, 0 100%);
  }
  #projects-shell #projects {
    padding-top: 20vh;
  }
  #projects-shell .preview {
    margin: 10px;
  }
  #projects-shell .preview:hover img {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    opacity: .2;
  }
  #resume-shell #resume {
    padding-top: 10vh;
    min-height: 150vh;
  }
  #resume-shell .content {
    width: 50%;
    margin-left: auto;
  }
  #contact-shell #contact {
    padding-top: 20vh;
  }
  .content {
    -webkit-box-shadow: 0 0 5px 0 #666666;
            box-shadow: 0 0 5px 0 #666666;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #ffffff;
  }
  #footer {
    margin-top: -3rem;
    line-height: 3rem;
  }
  #footer ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .my-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .my-row .preview {
    height: 0;
    width: 50%;
    padding-top: 25%;
  }
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

#header {
  background-color: #1b1b1b;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
}

#header span {
  cursor: default;
}

#header .fa {
  font-size: 1.25rem;
  text-align: center;
  color: #155a00;
  text-decoration: none;
}

.container {
  max-width: 900px;
}

a:hover {
  text-decoration: none;
}

.fa-leaf {
  font-size: 1.25rem;
  color: #155a00;
}

.fa:hover {
  text-decoration: none;
}

.preview {
  position: relative;
  display: block;
  background-color: #1b1b1b;
  color: white;
  border: #2c2c2c 1px solid;
  border-radius: .5rem;
  overflow: hidden;
}

.preview .description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
}

.preview img {
  position: absolute;
  top: 0;
  width: 100%;
}

#resume-shell #resume {
  position: relative;
}

#resume-shell .section-head {
  color: #666666;
  margin-top: 1rem;
}

#resume-shell .bullet-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.25rem;
  border-bottom: 1px solid #666666;
  cursor: pointer;
}

#resume-shell .bullet-dropdown:hover {
  color: #666666;
}

#resume-shell .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#resume-shell .subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .7rem;
  color: #666666;
}

#resume-shell .text::after {
  display: block;
  margin-top: 1.5rem;
  margin-right: 1rem;
  width: 0;
  height: 0;
  margin-left: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

#resume-shell .sunrise {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white)), url("../images/profile_sunrise.png"), -webkit-gradient(linear, left top, right top, from(#ffffff00), color-stop(75%, #ffffff));
  background-image: linear-gradient(white, white), url("../images/profile_sunrise.png"), linear-gradient(to right, #ffffff00, #ffffff 75%);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  background-blend-mode: saturation;
}

#contact {
  height: 100vh;
}

#contact a {
  color: #1b1b1b;
}

#contact a:hover {
  color: #666666;
}

#contact .fa-github, #contact .fa-linkedin-square {
  font-size: 3rem;
  margin: .5rem;
}

#contact .icons {
  text-align: center;
}

#contact .icons div, #contact .icons i {
  display: inline-block;
}

#contact .fa-leaf {
  text-align: center;
  display: inline-block;
  color: #155a00;
  margin: 3rem;
  font-size: 10rem;
}

#footer {
  background-color: #155a00;
}

#footer li {
  color: white;
}

#footer .fa {
  color: white;
  line-height: 3rem;
  font-size: 2rem;
}

#footer .fa:hover {
  color: #1b1b1b;
}

#footer .col {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */