// VARIABLES ------------------------------------------>


$color: #155a00;
$dark: #1b1b1b;
$med-dark: #2c2c2c;
$middle: #666666;
$light: white;
$banner-line-height: 3rem;

// SMALL SCREEN ------------------------------------------>


@media only screen and (max-width: 768px) {
    #profile {
        order: 2;
        img {
            width: 100%;
        }
    }
    #about-text {
        padding-top: 3rem;
        order: 1;
    }
    .preview {
        img {
            opacity: .2;
        }
    }
    #projects {
        padding-top: 4rem;
    }
    #resume {
        padding-top: 4rem;
        min-height: 100vh;
    }
    .content {
        background-color: #ffffffe1; 
    }
    #footer {
        margin-top: -$banner-line-height*3;
        line-height: $banner-line-height;
        ul {
            flex-direction: column; 
        }
    }
    .my-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .preview {
            height: 0;
            width: 100%;
            padding-top: 53%;
            margin: 10px 0 10px 0;
        }
    }
}

// BIG SCREEN ------------------------------------------>


@media only screen and (min-width: 769px) {
    @keyframes PROFILE {
        0% {opacity: 0; transform: scale(1) translateX(-200%);}
        100% {opacity: 1;transform: scale(1) translateX(0px);}
    }
    @keyframes ABOUT_TEXT {
        0% {top: -50rem;}
        70% {top: -50rem;}
        100% {top: 0;}
    }


    #about-shell {
        
        position: relative;
        z-index: 1;
        height: 100vh;
        background-color: white;
        margin-bottom: -10vh;
        #about {
            padding-top: 10vh;
        }
       
        #profile {
            position: relative;
            display: block;
            width: auto;
            height: 70vh;
            animation: PROFILE 3s;
            img {
                max-height: 100%;
                max-width: 100%;
                display: block;
            }
        }
        #about-text {
            animation: ABOUT_TEXT 3.5s;
            position: relative;
            top: 0;
            width: 50%;
        }
        .content {
            margin-top: 10vh;
        }

    }
    @keyframes ARROW_DOWN {
        0% {clip-path: polygon(0 0, 40% 0, 50% 5%, 60% 0, 100% 0, 100% 100%, 0 100%);}
        30% {clip-path: polygon(0 0, 40% 0, 50% 8%, 60% 0, 100% 0, 100% 100%, 0 100%);}
        100% {clip-path: polygon(0 0, 40% 0, 50% 5%, 60% 0, 100% 0, 100% 100%, 0 100%);}
    }
    
    #projects-shell {
        position: relative;
        padding-top: 20vh;
        color: $light;
        min-height: 130vh;
        background-color: $med-dark;
        z-index: 10;
        animation: ARROW_DOWN 1s 5s 2;
        clip-path: polygon(0 0, 40% 0, 50% 5%, 60% 0, 100% 0, 100% 90%, 0 100%);
    
        #projects {
            padding-top: 20vh;
            
        }
        .preview {
            margin: 10px;
        }
        .preview:hover {
            img {
                transition-property: opacity;
                transition-duration: .3s;
                opacity: .2;
            }
        }
       
    }

    #resume-shell {
        #resume {
            padding-top: 10vh;
            min-height: 150vh;
        }
        .content {
            width: 50%;
            margin-left: auto;
        }
    }

    #contact-shell {
        #contact {
            padding-top: 20vh;
        }
    }
   
    .content {
        box-shadow: 0 0 5px 0 $middle;
        margin-bottom: 1rem;
        border-radius:10px;
        padding: 1rem 1rem 1rem 1rem;
        background-color: #ffffffe1;
    }
    #footer {
        margin-top: -3rem;
        line-height: $banner-line-height;
        ul {
            justify-content: space-between;
        }
    }
    .my-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .preview {
            height: 0;
            width: 50%;
            padding-top: 25%;
        }
    }
}


// UNIVERSAL ------------------------------------------>



body,html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
#header {
    background-color: $dark;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    span {
        cursor: default;
    }
    .fa {
        font-size: 1.25rem;
        text-align: center;
        color: $color;
        text-decoration: none;
    }
}

.container {
    max-width: 900px;
}

a:hover {
    text-decoration: none;
}
.fa-leaf{
    font-size: 1.25rem;
    color: $color;
}
.fa:hover {
    text-decoration: none;
}


// PROJECT ------------------------------------------>


    
.preview {
    position: relative;
    display: block;
    background-color: $dark;
    color: $light;
    border: $med-dark 1px solid;
    border-radius: .5rem;
    // margin: 10px;
    overflow: hidden;
    .description {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 2rem;
    }
    img {
        position: absolute;
        top: 0;
        width: 100%;
    }
}


// RESUME ------------------------------------------>

#resume-shell {
    #resume {
        position: relative;
    }
    .section-head {
        color: $middle;
        margin-top: 1rem;
    }
    .bullet-dropdown {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.25rem;
        border-bottom: 1px solid $middle;
        cursor: pointer;
    }
    .bullet-dropdown:hover {
        color: $middle;
    }
    .text {
        display: flex;
        justify-content: space-between;
    }
    .subtext {
        display: flex;
        font-size: .7rem;
        color: $middle;
    }
    .text::after {
        display: block;
        margin-top: 1.5rem;
        margin-right: 1rem;
        width: 0;
        height: 0;
        margin-left: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
    .sunrise {
        background-image: 
        linear-gradient(white,white),
        url("../images/profile_sunrise.png"),
        linear-gradient(to right, #ffffff00, #ffffff 75%);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: contain;
        background-blend-mode: saturation;
    }



}

// CONTACT ------------------------------------------>


#contact {
    height: 100vh;
    a {
        color: $dark;
    }
    a:hover {
        color: $middle;
    }
    .fa-github, .fa-linkedin-square {
        font-size: 3rem;
        margin: .5rem;
        
    }
    .icons {
        text-align: center;;
        div, i {
            display: inline-block;
        }
    }
    .fa-leaf {
        text-align: center;
        display: inline-block;
        color: $color;
        margin: 3rem;
        font-size: 10rem;

    }
}

// FOOTER ----------------------------------------->

#footer {
    background-color: $color;
    li {
        color: $light;
    }
    .fa {
        color: $light;
        line-height: $banner-line-height;
        font-size: 2rem;
    }
    .fa:hover {
        color: $dark;
    }
    .col {
        text-align: center;
    }
   
}