$color: #155a00;
$dark: #1b1b1b;
$middle: #666666;
$light: white;
$footer-line-height: 3rem;

%borders {
    border: solid 1px $middle;
}
@media only screen and (max-width: 768px) {
    #profile {
        order: 2;
        img {
            width: 100%;
        }
    }
    #content {
        order: 1;
        background-color: #ffffffe1;
    }
    // #page {
    // padding: 5rem 0 10rem 0;
    // }
    #footer {
        margin-top: -$footer-line-height*3;
        line-height: $footer-line-height;
        ul {
            flex-direction: column; 
        }
    }
}
.page {
    width: 100%;
    min-height: 100vh;
    padding-top: 3rem;
}

@media only screen and (min-width: 769px) {
    #profile {
        max-height: 80vh;
        img {
            max-height: 100%;
            display: block;
            margin: auto;
        }
    }
    #footer {
        margin-top: -3rem;
        line-height: $footer-line-height;
        ul {
            justify-content: space-between;
        }
    }
    #content {
        margin-top: 5rem;
        border-radius:10px;
        box-shadow: 0 0 5px 0 $middle;
        padding: 2rem 1rem 1rem 1rem;
        background-color: #ffffffe1;
    }
    .sunrise {
        max-width: 991px;
    }
    // #page {
    //     padding: 3rem 0 4rem 0;
    // }   
}
body,html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
#header {
    background-color: $dark;
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    span {
        cursor: default;
    }
    @extend %borders;
}
// #page {
//     min-height: 100%;
//     a {
//         color: $dark;
//     }
//     a:hover {
//         text-decoration: none;
//         color: $middle;
//     }
// }
#footer {
    background-color: $color;
    li {
        color: $light;
    }
    .fa {
        line-height: $footer-line-height;
    }
    .fa:hover {
        color: $dark;
    }
}
.fa {
    margin-right: .7rem;
    font-size: 2rem;
    text-align: center;
    color: $light;
    border-radius: 10%;
    text-decoration: none;
}
.fa-leaf{
    font-size: 1.25rem;
    color: $color;
}
.fa:hover {
    text-decoration: none;
}
.project {
    border: 1px $middle solid;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    padding: 0;
}
.preview {
    width: 100%;
}
.bullet-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem;
    border-bottom: 1px solid $middle;
    cursor: pointer;
}
.text {
    display: flex;
    justify-content: space-between;
}
.subtext {
    display: flex;
    font-size: .7rem;
    color: $middle;
}
.text::after {
    display: block;
    margin-top: 1.5rem;
    margin-right: 1rem;
    width: 0;
    height: 0;
    margin-left: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.bullet-dropdown:hover {
    color: $middle;
}
// .sunrise {
//     display: block;
//     position: absolute;
//     bottom: 9rem;
//     right: 0;
//     height: 100vh;
//     width: 100vh;
//     background-image: 
//     linear-gradient(white,white),
//     url("../images/profile_sunrise.png"),
//     linear-gradient(to right, #ffffff00, #ffffff 75%);
//     background-repeat: no-repeat;
//     background-position: bottom;
//     background-size: contain;
//     background-blend-mode: saturation;
//     -webkit-transform: scaleX(-1);
//     transform: scaleX(-1);  
// }
.section-head {
    color: $middle;
    margin-top: 1rem;
}